

<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_event.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  <div id="rightcol">
	<%= render :partial => 'upcoming' %>
  </div>
  <div id="leftcol">
    <% form_for @event do |f| %>  
    <%= f.error_messages %>
	  <p>
	  <%= f.label :name %>
	  <%= f.text_field :name %>
	  </p>
	  <p>
	  <%= f.label :location %>
	  <%= f.text_field :location %>
	  </p>
	  <p>
	  <%= f.label :happens_on, "Date & Time" %>
	  <%= f.text_field :happens_on, clear_on_select(default_event_date) %><%= f.time_select :happens_at %>
	  </p>
	  <p>
	  <%= f.label :description %>
	  <%= f.text_area :description, :rows => 5  %>
	  </p>
	  <p>
		<%= f.check_box :registration_required %> Registration required for this event <br/>
		<%= f.check_box :fee_required %> Fee required for this event
	  </p>
	  <%= f.submit %>
    <% end %>
	</div>
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
