

<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_event.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  <div id="rightcol">
	<%= render :partial => 'upcoming' %>
	
  </div>
  <div id="leftcol">
	<h2><%= @event.name %></h2>
	<%= @event.happens %>
	<p><%= h @event.description %></p>
	<h2>Location</h2>
	<p><%= h @event.location %></p>
	</div>
	<% if @event.registration_required? %>
	<p>Requires registration</p>
	<% end %>
	<% if @event.fee_required? %>
	<p>Requires fee</p>
	<% end %>
</div><!-- // insidebody -->
