<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_aboutus.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    
  </div><!-- // rightcol -->
  <div id="leftcol">
    <h2>Mission</h2>
    <p>To inspire and enable all young people, especially those who need us most, to realize their full potential as productive, responsible and caring citizens.</p>
    
    <h2>Our Core Beliefs</h2>
    <p>A Boys Club provides:</p>
    <ul>
      <li>A safe place to learn and grow</li>
      <li>Ongoing relationships with caring, adult professionals</li>
      <li>Life enhancing programs and character development experiences</li>
      <li>Home and opportunity</li>
    </ul>
    
    <h2>Youth Development Strategy</h2>
    <p>Successful character development: Club programs and services promote and enhance the development of boys by instilling:</p>
    
    <ul>
      <li>A sense of competence: the feeling there is something boys can do well.</li>
      <li>A sense of usefulness: the opportunity to do something of value for others.</li>
      <li>A sense of belonging: a setting where boys know they "fit" and are accepted.</li>
      <li>A sense of power or influence: a chance to be heard and influence decisions.</li>
    </ul>
    
    <p>When this strategy is fully implemented, self-esteem is enhanced and an environment is created which helps boys achieve their full potential.</p>
    
    <h2>Core Characteristics</h2>
    
    <p>What sets Boys Clubs apart from other youth agencies:</p>
    
    <ol>
      <li>Are for boys. They satisfy the age-old desire of young people to have a club of their own.</li>
      <li>Have full-time professional leadership, supplemented by part-time workers and volunteers.</li>
      <li>Require no proof of good character. They help and guide boys who may be in danger of acquiring, or who have already acquired, unacceptable habits and attitudes, as well as those of good character.</li>
      <li>Make sure that all boys can afford to belong by keeping fees low enough to attract even the most indigent.</li>
      <li>Are for boys of all races, religions and cultures.</li>
      <li>Are building centered. Activities are conducted in the warm, friendly atmosphere of facilities especially designed for youth programs.</li>
      <li>Have an open door policy. Clubs are open to all members at any time during hours of operation.</li>
      <li>Have a varied and diverse program that recognizes and responds to the collective and individual needs of boys.</li>
      <li>Are guidance oriented. Clubs emphasize values inherent in the relationships between young people, their peers, and adult leaders.</li>
      <li>They help boys make appropriate and satisfying choices.</li>
    </ol>
    
    
  </div><!-- // leftcol -->
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
