<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_aboutus_board.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3><%= image_tag("h3_history.png", :alt => "history") %></h3>
    <p class="box">The Haverhill Boys Club was established in the year 1900 as one of the original 53 clubs in the country who formed the national organization of Federated Boys Clubs. In 1957 the name of the national organization was changed to Boys Clubs of America and later became Boys & Girls Clubs of America. Today there are more than 4,000 clubs serving more than three million youth. <%= link_to "Read more about our history...", history_url %></p>
    
    
  </div><!-- // rightcol -->
  <div id="leftcol">
    <h2>Board of Directors</h2>

    <p><strong>Richard Early, Jr.</strong><br /><em>President</em></p>
    <p><strong>Dan Rorke</strong><br /><em>Vice President</em></p>
    <p><strong>Joseph Mazzola</strong><br /><em>2nd Vice President</em></p>
    <p><strong>Arthur Morrow</strong><br /><em>Treasurer</em></p>
    <p><strong>Kathleen Pruett</strong><br /><em>Secretary</em></p>
    <p><strong>Robert Wysocki</strong><br /><em>President Emeritus</em></p>

    <p>Thomas Delrosso<br />
    Gregory DiBurro<br />
    Stephan Shields<br />
    William Faraci<br />
    Joseph Mazzola<br />
    Joseph Nicolosi<br />
    Sally O'Rorke<br />
    Robert Tandy<br />
    Christopher Mastriano<br />
    Frank Azzarito<br />
    Edward Fenlon<br />
    William Chase<br />
    Alfred Cirome, Esq.<br />
    Dorothy Early<br />
    Dante Gobbi<br />
    Gerard Gobbi<br />
    James Rurak<br />
    Alan DeNaro<br />
    Mary Beth Maranto<br />
    Frank Iuele<br />
    Alison Gulubicki<br />
    Dorothy Flaherty<br />
    Robert Basmajian<br />
    Theodre Gaiero,Jr.</p>
    
    
  </div><!-- // leftcol -->
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>

