<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= link_to(image_tag('camptasker_right_float.png', :id => 'taskerinside'), campreg_url) %>

<%= image_tag('feat_prog_camp.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
