<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_prog_lead.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3>Details</h3>
    <ul class="box">
      <li>Our leadership programs are run by Sharon Silverman and Samantha Early.</li>
      <li>Special meetings and other events are held in the Keystone Club room located on the third floor of our building.</li>
      <li>Regular Keystone meetings are held on Tuesdays and Thursdays at 6:30 – 7:30pm.</li>
    </ul>
    
  </div> <!-- // rightcol -->
  <div id="leftcol">
    <p><%=link_to "&laquo; Back to programs...", programs_url  %>
    <h2>Character &amp; Leadership Development</h2>
    <p>This core program area empowers youth to support and influence their club and community, sustain meaningful relationships with others, develop a positive self image, participate in the democratic process, and respect their own and others cultural identities. This program includes youth of the year, keystone club, junior staff training, and counselor in training program, community service projects, and a snow shoveling program for the elderly.</p>
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
