<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_contact.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  <div id="rightcol">
    <h3><%= image_tag("h3_history.png", :alt => "history") %></h3>
    <p class="box">The Haverhill Boys Club was established in the year 1900 as one of the original 53 clubs in the country who formed the national organization of Federated Boys Clubs. In 1957 the name of the national organization was changed to Boys Clubs of America and later became Boys & Girls Clubs of America. Today there are more than 4,000 clubs serving more than three million youth. <%= link_to "Read more about our history...", history_url %></p>
    
    <h3><%= image_tag("h3_staff.png", :alt => "staff") %></h3>
    <p>The staff of the Haverhill Boys and Girls club comes from all walks of life and work together to provide a great experience for the youth of Haverhill.</p>

    <p>See who they are in our <%= link_to "Staff directory", staff_url %> &raquo;</p>
    <p>Also see our <%= link_to "Board of Directors", board_url %> &raquo;</p>
    
  </div><!-- // rightcol -->
  
  <div id="leftcol">
  <h2>Location</h2>
  <iframe width="600" height="350" style="border:1px solid #4a4a4a;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=55+Emerson+Street,+Haverhill,+MA&amp;sll=37.0625,-95.677068&amp;sspn=88.258561,61.523437&amp;ie=UTF8&amp;z=14&amp;ll=42.782992,-71.077852&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=55+Emerson+Street,+Haverhill,+MA&amp;sll=37.0625,-95.677068&amp;sspn=88.258561,61.523437&amp;ie=UTF8&amp;z=14&amp;ll=42.782992,-71.077852" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  
  <p><strong>Haverhill Boys &amp; Girls Club</strong><br />
    55 Emerson Street<br />
    Haverhill, MA 01830<br />
    tel: 978.374.6171<br />
    fax: 978.374.6171<br />
    email: <%= link_to "btheirrien@haverhillbgc.com", "mailto:btheirrien@haverhillbgc.com"  %></p>
 </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->


