<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_contact.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <iframe width="870" height="350" style="border:1px solid #4a4a4a;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=55+Emerson+Street,+Haverhill,+MA&amp;sll=37.0625,-95.677068&amp;sspn=88.258561,61.523437&amp;ie=UTF8&amp;z=14&amp;ll=42.782992,-71.077852&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=55+Emerson+Street,+Haverhill,+MA&amp;sll=37.0625,-95.677068&amp;sspn=88.258561,61.523437&amp;ie=UTF8&amp;z=14&amp;ll=42.782992,-71.077852" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>


