<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_director.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
  </div><!-- // rightcol -->
  <div id="leftcol">
  </div><!-- // leftcol -->
  
  <%= image_tag "brian_headshot.jpg", :class => "headshot" %>

  <p>Dear Friends,</p>





  <p>It is such an honor for me to be the Executive Director of the Boys and Girls Club of Greater Haverhill. As I reflect back on my childhood growing up in Worcester, Massachusetts, I can remember there were times when having a place to go was such a privilege. It gave me a sense of belonging to know that I was apart of a high energy atmosphere and to learn about positive life decisions at an earlier age. It has had such a great impact on who I am today and why it is so important for me to give back to this community. The Boys and Girls Club of Greater Haverhill has such a long history of being the corner stone of a city that has always been committed to developing its youth.  The Board of Directors are leaders in the community who are continually making a positive impact on the lives of the youth leaders of tomorrow.  The local businesses and individuals who sponsor our programs help keep the vision and dreams alive for each and every member that enters our club. I am proud of being apart of this great tradition and hope that we as the community of Haverhill will never let the dreams and visions of today’s boys and girls go unfulfilled, but become a REALITY!!!</p>



  <p>Warm Regards,</p>

  <p><strong>Brian Theirrien</strong><br />
  Executive Director<br />
  Haverhill Boys &amp; Girls Club</p>
  
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
