<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_prog_educ.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3>Details</h3>
    <ul class="box">
      <li>Our “Power Hour Homework Help” is run by Shantel Cruz. It is held every Monday – Thursday at 3:30 – 4:30pm, located on the third floor of our building.</li>
      <li>Our Computer Technology is run by Melanie Baez and Royal Grant. It is held Monday- Friday 3:30 – 7:00pm and Saturdays 11:30am – 3:30pm, located on the main floor in the Pentucket Bank room.</li>
    </ul>
  </div> <!-- // rightcol -->
  <div id="leftcol">
    <p><%=link_to "&laquo; Back to programs...", programs_url  %>
    <h2>Education &amp; Career Development</h2>
    <p>This core program area enables youth to become proficient in basic educational disciplines, apply learning to everyday situations and embrace technology to optimize employability. Programs include Power Hour homework help program, Career Prep, Project Learn, and internet safety and technology instruction programs.</p>
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
