<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_history.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3><%= image_tag("h3_staff.png", :alt => "staff") %></h3>
    <p>The staff of the Haverhill Boys and Girls club comes from all walks of life and work together to provide a great experience for the youth of Haverhill.</p>

    <p>See who they are in our <%= link_to "Staff directory", staff_url %> &raquo;</p>
    
  </div><!-- // rightcol -->
  <div id="leftcol">
    <h2>A Rich History...</h2>
    <p>The Haverhill Boys Club is one of the oldest Boys Clubs in the United States and has been an innovative fixture and pillar within our community for over a century.  Our doors opened in the year 1900, making us the 43rd Club to serve a community in the United States.  The Club has always been a place where boys 6-18 years old could go for a nominal fee.  As times are changing, so are we.  To kick off the New Year we are making a resolution to become a fully integrated Boys and Girls Club of America.  As of January 5, 2009, we fulfilled our resolution as we are no longer the Haverhill Boys Club, but rather, the Boys &amp; Girls Club of Greater Haverhill.  This past summer we made the first steps towards the successful integration of girls into the Club at our summer day camp, Camp Tasker.  We had the ability to accommodate 50 girls over the summer and look forward to being able to accommodate many more in the future.</p>
    <p>Camp Tasker opened in 1919 and is located on Country Pond in Newton, New Hampshire.  It has been giving inner city boys the chance to participate and learn the basic skills in activities such as fishing, swimming, boating, basketball, baseball, soccer, tennis, archery, and arts and crafts.  Our origination realized the importance of offering an affordable, safe environment that fosters education and promotes a sense of belonging, competence, usefulness, power and influence for all of our members.</p>
    <p>As a member of the Boys &amp; Girls Clubs of America, we have high hopes for our members.  Our goal is to inspire and enable all young people, especially those who need us most, to realize their full potential as productive, responsible and caring adults.  Most of our members do not have access to the required resources that will help them succeed in college and/or the future job market.  We have made major strides to bridge the gap between our members and the viability of technological resources they will need in order to succeed in tomorrow’s world.  As a result of our efforts, we have been able to renovate our facility in order to make it technologically compatible.  Recently, the Ronald McDonald House of Charities has provided financial support to aid us in purchasing computers from Dell for our members use.  This is a huge technological breakthrough for our organization because we have never been able to provide our members with such technological resources due to high cost.</p>
    <p>The diversity that our members bring to the club from the variety of backgrounds they come is welcomed.  To help meet the needs of such diverse backgrounds we have programs and events that help educate all members in cultures different from their own.  Our staff has been selected to help meet the needs of members.  Bilingual staff members and volunteers help run programs and events to help ensure each member understands the positive values that are embedded within our programs and events.</p>
    
  </div><!-- // leftcol -->
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
