<%= link_to(image_tag('logo_big_haverhill.png', :id => 'logo_main'), root_url) %>
<%= link_to(image_tag('camptasker_right_float.png', :id => 'taskerhome'), camp_url) %>
<%= image_tag('feature_kids.jpg', :id => 'feature_hp') %>

<div id="homenews">
  <h3><%= image_tag('h3_recent-news.png', :alt => "Recent News") %>
</div>

<div id="homebody" class="clearfix">
  <%= image_tag('h3_more-information.png') %>
  <div class="harvardrule">&nbsp;</div>
  <ul id="homefeaturettes">
    <li>
      <%= image_tag("hp_sm_history.jpg", :class => "", :size => "205x120") %>
      <h2><%= link_to "Our Rich History...", history_url %></h2>
      <p>See the history of the Haverhill Boys and Girls Club over the years through timeless pictures and stories from club alumni...</p>
    </li>
    <li>
      <%= image_tag("hp_sm_program.jpg", :class => "", :size => "205x120") %>
      <h2><%= link_to "2009 Program Schedule", programs_url %></h2>
      <p>See the history of the Haverhill Boys and Girls Club over the years through timeless pictures and stories from club alumni...</p>
    </li>
    <li>
      <%= image_tag("hp_sm_director.jpg", :class => "", :size => "205x120") %>
      <h2><%= link_to "From the Director", director_url %></h2>
      <p>Hear from the Director of the Haverhill Boys and Girls club on what is happening now and how you can get involved.</p>
    </li>
    <li>
      <%= image_tag("hp_sm_support.jpg", :class => "", :size => "205x120") %>
      <h2><%= link_to "Make a Difference", volunteer_url %></h2>
      <p>Your donations of time and money help us provide top notch programs to all of the young boys and girls of the Haverhill area.</p>
    </li>
  </ul>
</div>
