<%= image_tag('logo_big_haverhill.png', :id => 'logo_main') %>
<%= image_tag('camptasker_right_float.png', :id => 'taskerhome') %>
<%= image_tag('feature_kids.jpg', :id => 'feature_hp') %>

<div id="homenews">
  <h3><%= image_tag('h3_recent-news.png', :alt => "Recent News") %>
</div>

<div id="homebody" class="clearfix">
  <%= image_tag('h3_more-information.png') %>
  <div class="harvardrule">&nbsp;</div>
  <ul id="homefeaturettes">
    <li>
      <%= image_tag("", :class => "", :size => "205x120") %>
      <h2><%= link_to "Our Rich History...", "" %></h2>
      <p>See the history of the Haverhill Boys and Girls Club over the years through timeless pictures and stories from club alumni...</p>
    </li>
    <li>
      <%= image_tag("", :class => "", :size => "205x120") %>
      <h2><%= link_to "2009 Program Schedule", "" %></h2>
      <p>See the history of the Haverhill Boys and Girls Club over the years through timeless pictures and stories from club alumni...</p>
    </li>
    <li>
      <%= image_tag("", :class => "", :size => "205x120") %>
      <h2><%= link_to "Our Rich History...", "" %></h2>
      <p>See the history of the Haverhill Boys and Girls Club over the years through timeless pictures and stories from club alumni...</p>
    </li>
    <li>
      <%= image_tag("", :class => "", :size => "205x120") %>
      <h2><%= link_to "Our Rich History...", "" %></h2>
      <p>See the history of the Haverhill Boys and Girls Club over the years through timeless pictures and stories from club alumni...</p>
    </li>
  </ul>
</div>
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
