<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_programs.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    
  </div> <!-- // rightcol -->
  
  <div id="leftcol">
    <h2>Programs</h2>
    <p>Boys &amp; Girls Clubs of America's National Programs have taken members from the Clubhouse to the White House; from the game room to the corporate boardroom; from the basketball court to the Hall of Fame.</p>

    <p>Boys &amp; Girls Clubs of America has a lineup of tested and proven nationally recognized programs that address today's most pressing youth issues, teaching young people the skills they need to succeed in life. The Boys &amp; Girls Club of Greater Haverhill uses these programs as part of its youth development strategy.</p>

    <p>The daily program is the heart of the Boys &amp; Girls Club and is the reason more than 700 children belong. The program is diverse, engaging and appealing to children of all ages and backgrounds. All members have the ability to choose from several activities or programs at any given time.</p>

    <p>Programs are offered in five core program areas:</p>
    <ul>
      <li><%= link_to "The Arts", progarts_url %></li>
      <li><%= link_to "Education &amp; Career Development", progeduc_url %></li>
      <li><%= link_to "Health &amp; Lifeskills", proghealth_url %></li>
      <li><%= link_to "Sports, Fitness &amp; Recreation", progsport_url %></li>
      <li><%= link_to "Character &amp; Leadership Development", progchar_url %></li>
    </ul>
  </div> <!-- // leftcol -->
  
</div><!-- // insidebody -->
