<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_aboutus_staff.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3><%= image_tag("h3_history.png", :alt => "history") %></h3>
    <p class="box">The Haverhill Boys Club was established in the year 1900 as one of the original 53 clubs in the country who formed the national organization of Federated Boys Clubs. In 1957 the name of the national organization was changed to Boys Clubs of America and later became Boys & Girls Clubs of America. Today there are more than 4,000 clubs serving more than three million youth. <%= link_to "Read more about our history...", history_url %></p>
    
    <h3><%= link_to "From the Director", director_url %></h3>
    <p>Hear from the Director of the Haverhill Boys and Girls club on what is happening now and how you can get involved. <%= link_to "Read more...", director_url %></p>
    
    
    
  </div><!-- // rightcol -->
  <div id="leftcol">
    <h2>Full Time Staff</h2>

    <p><strong>Brian Theirrien</strong><br /><em>Executive Director</em></p>
    <p><strong>Danny Martinez</strong><br /><em>Program Director</em></p>
    <p><strong>Roberta Bowman</strong><br /><em>Fine Arts/Photography/Special Events</em></p>
    <p><strong>Juan Ruiz</strong><br /><em>Sports and Fitness</em></p>
    <p><strong>Victor Paulino</strong><br /><em>Teen Director</em></p>
    <p><strong>Christina Cruz</strong><br /><em>Girls' Program Director</em></p>
    <p><strong>Royal Grant</strong><br /><em>Membership Coordinator</em></p>

    <h2>Part Time Staff</h2>

    <h3>Administration</h3>
    <p><strong>Barbara Maglio</strong><br /><em>Executive Assistant</em></p>
    <p><strong>Robert Kent</strong><br /><em>Book Keeper</em></p>

    <h3>Maintenance</h3>
    <p>Robert Tandy<br />
    Joseph Mazzola Jr.</p>

    <h3>Counselors</h3>
    <p>Christina Cruz<br />
    Ramon Martinez<br />
    Juan Ruiz<br />
    Barbara Maglio<br />
    Charles Chaney<br />
    Gene Dion<br />
    Robert Tandy<br />
    Roberta Bowman<br />
    Wilkins Martinez<br />
    Genaro Munoz<br />
    John Starner<br />
    Justin Cheney<br />
    Joseph Acevedo<br />
    Shantel Cruz</p>
    
  </div><!-- // leftcol -->
  
</div><!-- // insidebody -->
