<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_aboutus_staff.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  
  <div id="rightcol">
    <h3><%= image_tag("h3_history.png", :alt => "history") %></h3>
    <p class="box">The Haverhill Boys Club was established in the year 1900 as one of the original 53 clubs in the country who formed the national organization of Federated Boys Clubs. In 1957 the name of the national organization was changed to Boys Clubs of America and later became Boys & Girls Clubs of America. Today there are more than 4,000 clubs serving more than three million youth. <%= link_to "Read more about our history...", history_url %></p>
    
    
  </div><!-- // rightcol -->
  <div id="leftcol">
    <h2>Full Time Staff</h2>

    <p><strong>Brian Theirrien</strong><br /><em>Executive Director</em></p>
    <p><strong>Danny Martinez</strong><br /><em>Program Director</em></p>
    <p><strong>Sharon Silverman</strong><br /><em>Fine Arts/Photography/Special Events</em></p>
    <p><strong>Juan Ruiz</strong><br /><em>Sports and Fitness</em></p>
    <p><strong>Samantha Early</strong><br /><em>Teen Director</em></p>

    <h2>Part Time Staff</h2>

    <h3>Administration</h3>
    <p><strong>Barbara Maglio</strong><br /><em>Office manager</em></p>
    <p><strong>Robert Kent</strong><br /><em>Book Keeper</em></p>

    <h3>Maintenance</h3>
    <p>Robert Tandy<br />
    Joseph Mazzola Jr.</p>

    <h3>Counselors</h3>
    <p>Wilkins Martinez<br />
    Josue Arroyo<br />
    Melanie Baez<br />
    Jonathan Perez<br />
    Dante Perella<br />
    Kye Boothe<br />
    Charles Chaney<br />
    Shanti Cuz<br />
    Ronnie Rosario<br />
    Genaro Munoz</p>
    
    
  </div><!-- // leftcol -->
  
</div><!-- // insidebody -->
<div id="footer">
  <p class="right"><%= link_to "B&amp;CG of America", ""  %> | <%= link_to "Legal Notice", ""  %> | <%= link_to "Terms of Use", "" %> | <%= link_to "Privacy Policy", "" %></p>
  <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
</div>
