

<%= link_to(image_tag('logo_sm_haverhill.png', :id => 'logo_inside'), root_url) %>
<%= image_tag('feat_news.jpg', :id => 'feature_inside') %>


<div id="insidebody" class="clearfix">
  <div class="harvardrule">&nbsp;</div>
  <div id="rightcol">
  </div>
  <div id="leftcol">
	<% @stories.each do |story| %>
		<% div_for story, :class => 'story' do %>
		  <div class='headline'><%= story.headline %></div>
		  <div class='story-date'><%= story.created_at.to_s(:short)%></div>
		  <div class='story-body'><%= h story.body %></div>
		<% end %>
	<% end %>  
	
	<% if logged_in? %>
	  <%= link_to '[add]', new_story_path %>
	<% end %>
	</div>
</div><!-- // insidebody -->
