<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Haverhill Boys and Girls Club</title>
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="distribution" content="all" />
    <meta name="robots" content="all" />  
    <meta name="resource-type" content="document" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    
    <%= stylesheet_link_tag 'reset', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'master', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'clearfix', :media => 'screen, projection' %>
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/iewin.css" />
    <![endif]-->
    <%= javascript_include_tag :defaults %>
  </head>

  <body id="<%= @body_id %>">
    <div id="nest">
      
      <ul id="nav">
        <li><%= link_to image_tag('nav_news.png'), news_url, :id => "news" %></li>
        <li><%= link_to image_tag('nav_eventcalendar.png'), events_url, :id => "events" %></li>
        <li><%= link_to image_tag('nav_volunteer.png'), volunteer_url, :id => "volunteer" %></li>
        <li><%= link_to image_tag('nav_programs.png'), programs_url, :id => "programs" %></li>
        <li><%= link_to image_tag('nav_about.png'), about_url, :id => "about" %></li>
        <li><%= link_to image_tag('nav_contact.png'), contact_url, :id => "contact" %></li>
      </ul><!-- // end nav -->

<%= yield :layout %>
      
      
      <div id="footer">
        <p class="right"><%= link_to "B&amp;CG of America", "http://www.bgca.org/"  %> | <%= link_to "Legal Notice", legal_url  %> | <%= link_to "Terms of Use", terms_url %></p>
        <p>&copy; 2009 Haverhill Boys and Girls Club. All Rights Reserved.</p>
      </div>
      
    </div><!-- // end nest -->
  </body>
</html>
